<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<form novalidate [formGroup]="formLogin">
<div class="login">
  <div class="login-header">
    <h1>Login</h1>
  </div>
  <div class="login-form">
    <h3>Username:</h3>
    <input type="text" class="form-control" placeholder="Username" formControlName="username"/><br>
    <h3>Password:</h3>
    <input type="password" class="form-control" placeholder="Password" formControlName="password"/>
    <br>
    <input type="button" (click)="login()" value="Login" class="login-button"/>
    <br>
    <h5 *ngIf="registrado" style="color: red;" class="mt-3">No estás registrado</h5>
    <br>
    <a class="sign-up" (click)="register()">Registrate</a>
    <br>
    <!-- <h6 class="no-access">¿No puedes acceder a tu cuenta?</h6> -->
  </div>
</div>
<!-- <div class="error-page">
  <div class="try-again">Error ¡Intentalo entalo de nuevo!</div>
</div> -->
</form>