<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<form novalidate [formGroup]="formRegister">
<div class="login">
  <div class="login-header">
    <h1>Register</h1>
  </div>
  <div class="login-form">
    <h3>Username:</h3>
    <input type="text" placeholder="Username" formControlName="username"/><br>
    <h3>Password:</h3>
    <input type="password" placeholder="Password" formControlName="password"/>
    <br>
    <input type="button" (click)="register()" value="Register" class="login-button"/>
    <br>
    <br>
  </div>
</div>
<div class="error-page">
</div>
</form>